@page
@model IndexModel
@using WebTorrentRazorPlayer.Pages

@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"]</h2>

<p>
    Welcome to the Web Torrent application! This is a simple demo of how to use WebTorrent in an ASP.NET Core application.
</p>